<!DOCTYPE html>
<html ng-app="EventsApp">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="FavoriteColorcontro as vm">
    <button ng-click="vm.pick('yellow')">yellow</button>
    <button ng-click="vm.pick('pink')">pink</button>
    <button ng-click="vm.pick('red')">red</button>
    <hr />
    {{vm.selectedColor}}

    <script src="../../Scripts/angular.min.js"></script>
    <script src="app.js"></script>

    <script src="../Events.app/controllers.js"></script>









</body>

</html>
